.action-buttons form {
    margin: 0;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}


#fileToUpload[type="file"] {
          display: none;
          cursor: pointer;
 }
 span.span-camera i {
    font-size: xx-large;
}

.custom-nav{
    padding: 0 1rem;
}

.select2.select2-container{
    width: 100% !important;
}

.form-control:disabled {
    background: #bab6b67a;
    color: #948b8b;
}
select.form-select:disabled {
    background: #dedcdc;
    color: #948b8b;
}